<br>
<h1 >Liked post</h1>
<br><br>

<h3>click on the title to view ====> </h3>
<br><br>


<% @blogpost.each do |d| %>
<h2 ><%= link_to d.title, "blogposts/#{d.id}" %> </h2>
<br><br><br>

<h2><%= d.content %> <br> </h2>
<br><br>
<hr>
<br>
<% end %>

<%= link_to 'Back', blogposts_path %>
